<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkShrinker Signup</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh; 
        background-color: #f0f5fa; 
        display: flex; 
        justify-content: center;
        align-items: center;
      }

      h1 {
        font-weight: bold;
        color: #3399ff; 
        margin-bottom: 20px;
        text-align: center;
      }

      .signup-form {
        width: 400px;
        padding: 30px;
        border-radius: 5px;
        background-color: #fff; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
      }

      input[type="text"] {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #ddd;
        border-radius: 3px;
        box-sizing: border-box; 
        margin-bottom: 15px;
      }

      button[type="submit"] {
        background-color: #3399ff; 
        color: #fff;
        padding: 10px 30px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        display: block;
        margin: 20px auto; 
      }

      button[type="submit"]:hover {
        background-color: #228cff; 
      }

      .signup-form img {
        width: 100px;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .center-text {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="signup-form">
      <img
        src="https://support.rebrandly.com/hc/article_attachments/17556825489437"
        alt="LinkShrinker Logo"
      />
      <h1>LinkShrinker Signup</h1>
      <form action="/user" method="post">
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email</label>
        <input type="text" id="email" name="email" required />

        <label for="password">Password</label>
        <input type="text" id="password" name="password" required />

        <button type="submit">Signup</button>
      </form>
      <p class="center-text">
        Already have an account?
        <a href="https://link-shrinker.vercel.app/login">Login</a>
      </p>
    </div>
  </body>
</html> -->
